@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --secondary-text-color: #5d5d5f;
  --orange-color: #fb5f12;
  --primary-color: #236bf4;
}
.monsserat {
  font-family: "Monserrat", sans-serif;
}
.shadow-fade {
  position: absolute;
  content: "";
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgb(25, 25, 49), transparent);
}
.header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 100%;
}
.card {
  background: white;
  height: 100px;
}
.shape {
  position: absolute;
  top: -40px;
  transform: translateX(-20px) scale(120%);
  opacity: 0.04;
}
.shape2 {
  position: absolute;
  top: -40px;
  left: -490px;
  transform: translateX(-20px) scale(120%);
  opacity: 0.04;
}
.microsft {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url(../public/microsoft-logo-240.png);
  background-repeat: no-repeat;
}
